# Ignorar dependências
node_modules/

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db

# Ignorar arquivos de ambiente
.env

# Ignorar logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar cache do Expo
.expo/
.expo-shared/

# Ignorar diretórios de build
android/
ios/
build/

# Ignorar arquivos de configuração específicos do VSCode
.vscode/
